/*
 *= require bootstrap_and_overrides
 *= require_tree
 *= require_self
 */
 html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style: outside none none;
}

/*----#CONTENENT----*/
.row {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
}
.col-md-12, .col-md-6, .col-md-5, .col-md-4, .col-md-2, .col-md-1 {
	padding: 0;
}
.container-fluid {
  padding: 0;
}
.contenent {
	margin: 0;
	padding: 0;

	background-image: url(background.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
.filter {
	background-color: rgba(0, 0, 0, 0.67);
}
.contenent-main {
	width: 81%;
	padding: 0;
}

/*----#HOMPAGE----*/
.menus {
	margin-top: 80px;
	margin-left: 445px;
}
.navbar-nav li a {
	margin-left: 20px;

	background-color: rgba(0, 0, 0, 0);

	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #a4a4a4;
	font-size: 17px;
	letter-spacing: 1.8px;
}
.navbar-nav li a:hover, .navbar-nav .active a, .navbar-nav .active a:hover  {
	background-color: rgba(0, 0, 0, 0);

	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #fff;
}
.navbar-toggle {
	background-color: #222;
}
.navbar-toggle:hover {
	border: 1px solid #a4a4a4;
}
.icon-bar {
	background-color: #a4a4a4;
}
.title, .subtitle {
	position: relative;
	vertical-align: top;

	text-align: center;
}
.title {
	top: 225px;

	font-size: 645%;
	letter-spacing: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #eaeaea;
}
.subtitle {
	top: 225px;

	font-size: 170%;
	letter-spacing: 1.8px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #a4a4a4;
}

/*------#VIDEOS--------*/
.titlevid {
	margin-top: 100px;
	margin-bottom: 21px;

	font-size: 27px;
	text-align: left;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #fff;
}
.titleallvid {
	margin-top: 110px;
	margin-right: 15px;


	text-align: right;
	font-size: 17px;
	letter-spacing: 2px;
}
.titleallvid a:visited, .titleallvid a:link{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #5c5c5c;
}
.like {
	width: 32.5%;
	padding-right: 25px;
}
.big {
	width: 34.2%;
	padding-left: 25px;
	padding-right: 25px;
}
.waiting {
	width: 32.4%;
	padding-left: 25px;
}
.like, .big {
	border-right: 1px solid #5c5c5c;
}
.like, .big, .waiting {
	padding-top: 25px;

	border-top: 1px solid #5c5c5c;
	border-bottom: 1px solid #5c5c5c;
}
.subtitlevid {
	margin-bottom: 20px;

	font-size: 21px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #fff;
}
.underscore {
	position: relative;
	top: -12px;

	font-size: 42px;
}

/*----#UPCOMMING GIGS----*/
.titregig {
	margin-top: 90px;
	margin-bottom: 25px;

	font-size: 27px;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #fff;
}
.contenugig {
	padding-top: 21px;
	padding-bottom: 14px;
	padding-left: 15px;

	border-top: 1px solid #5c5c5c;
}
.col-md-1 {
	width: 13%;
}
.month {
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #c4c4c4;
}
.numberoct {
	margin-left: 24px;

	font-size: 27px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #fff;
}
.number {
	margin-left: 27px;

	font-size: 27px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #fff;
}
.city {
	font-size: 21px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #c4c4c4;
}
.scene {
	font-size: 21px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #c4c4c4;
}
.city, .scene {
  padding-top: 5px;
}
.view {
	margin-top: 12px;
	margin-bottom: 90px;

	text-align: center;
}
.view a:link, .view a:visited {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #c4c4c4;
}

/*----ABOUT OBSIDIAN----*/
.contenentob {
	padding-bottom: 90px;

	border-top: 1px solid #5c5c5c;
}
.titleob {
	margin-top: 78px;
	margin-bottom: 40px;

	font-size: 25px;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #fff;
}
.titlevol {
	margin-top: 78px;
	margin-bottom: 42px;

	font-size: 25px;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #fff;
}
.messageob {
	margin-right: 47px;

	font-size: 21px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #a4a4a4;
}
.alignrp {
	padding-left: 12px;
}
.subtitlerp {
	font-size: 23px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #c4c4c4;
}
.subdate {
	margin-bottom: 42px;

	font-size: 18px;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #a4a4a4;
}

/*----#FOOTER----*/
.contenentrs {
	padding-top: 33px;
	padding-bottom: 120px;

	border-top: 1px solid #5c5c5c;
}
.icon-rs {
	display: inline-block;
	vertical-align: top;
	position: relative;
	left: 435px;
	margin-right: 35px;

  font-size: 27px;
	text-align: center;
}
.icon-rs a:visited, .icon-rs a:link {
	color: #fff;
}
.titlefooter {
	margin-top: 60px;

	font-size: 17px;
	text-align: center;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #c4c4c4;
}
/*----#devise----*/
.nav-user, .nav-user a:link, .nav-user a:visited {
  font-size: 17px;
  color: #a4a4a4;
}
.log-in {
  font-size: 21px;
  margin-top: 100px;
}
.titledevise {
  font-size: 42px;
  font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #fff;
}
.titlefyp {
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #fff;
}
.log-in, .field label {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #c4c4c4;
}

.log-in a:visited, .log-in a:link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #c4c4c4;
}
.actions {
  margin: 12px 12px 12px 0;
}
.actions input, .actions textarea {
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 4px;
  border-radius: 4px;

  background-color: rgba(34, 34, 34, 0.5);

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #a4a4a4;
}
.actions input:hover, .actions input:focus, .actions textarea:focus {
  border: 1px solid #a4a4a4;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.field input {
  border: 1px solid rgba(0, 0, 0, 0);

  background-color: rgba(34, 34, 34, 0.5);

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  #a4a4a4;
}
.field input:focus {
  border: 1px solid #a4a4a4;
}
/*----#articles----*/
.title-article {
  margin: 27px 0 27px 17px;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #fff;
}
.content-article {
  padding-top: 170px;
  padding-bottom: 170px;
  padding-left: 15px;

  border-top: 1px solid #5c5c5c;
  border-bottom: 1px solid #5c5c5c;

  background-color: rgba(0, 0, 0, 0.2);

  font-size: 27px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #a4a4a4;
}
.articles, .articles:hover, .articles:visited {
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #a4a4a4;
}
.contenant-articles {
  padding: 17px;

  border-bottom: 1px solid #5c5c5c;
}
.link-article, .link-article:hover, .link-article:visited {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #a4a4a4;
}
.al-link {
  margin: 7px 0 7px 0;
}
.lay-article {
  margin-left: 21px;
}
.top_border {
  border-top: 1px solid #5c5c5c;
}
.al-edit {
  margin:7px 7px 7px 0;
}
/*----#pagination----*/
.pagination > li > a {
  border-color: #5c5c5c;

  background-color: rgba(34, 34, 34, 0.8);

  color: #a4a4a4;
}
.pagination > li > a:hover {
  border-color: #7f7f7f;

  background-color: #222;

  color: #fff;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:active {
  z-index: 3;
  border-color: #7f7f7f;

  background-color: #222;

  color: #fff;
}
/*----#media----*/
/*----#screen_1920----*/
@media (min-width: 1368px) and (max-width:1927px) {
  .menus {
    margin-top: 75px;
    margin-left: 330px;
  }
  .navbar-nav li a {
    margin-left: 6px;
    font-size: 12px;
  }
  .title {
    top: 158px;
    font-size: 445%;
  }
  .subtitle {
    top: 158px;
    font-size: 130%;
  }
  .titlevid {
    font-size: 20px;
  }
  .titleallvid {
    margin-right: 0;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .subtitlevid {
    font-size: 16px;
  }
  .big {
    width: 34.8%;
  }
  .waiting {
    width: 32.4%;
  }
  .col-md-1 {
    width: 13%;
  }
  .titregig {
    font-size: 20px;
  }
  .contenugig {
    padding-top: 12px;
    padding-bottom: 10px;
  }
  .month {
    font-size: 15px;
  }
  .number, .numberoct {
    font-size: 21px;
  }
  .city, .scene {
    font-size: 17px;
  }
  .view {
    margin-top: 5px;
    margin-bottom: 65px;
  }
  .view a:link {
    font-size: 12px;
  }
  .titleob, .titlevol {
    letter-spacing: 1px;
  }
  .titleob, .titlevol, .subtitlerp {
    font-size: 17px;
  }
  .marg-query {
    padding-left: 12px;
  }
  .subdate {
    margin-bottom: 27px;
    font-size: 12px;
  }
  .messageob {
    margin-right: 17px;
    font-size: 17px;
  }
  .contenentrs {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  .icon-rs {
    left: 330px;
    margin-right: 24px;
    font-size: 20px;
  }
  .titlefooter {
    font-size: 12px;
    margin-top: 45px;
  }
  .contenentob {
    padding-bottom: 70px;
  }
  .content-article {
    padding-top: 135px;
    padding-bottom: 135px;
  }
  .title-article {
    font-size: 32px;
  }
  .articles, .articles:hover, .articles:visited {
    font-size: 27px;
  }
}
/*----#screen_1366----*/
@media (min-width: 1282px) and (max-width:1367px) {
  .menus {
    margin-top: 75px;
    margin-left: 330px;
  }
  .navbar-nav li a {
    margin-left: 6px;
    font-size: 12px;
  }
  .title {
    top: 158px;
    font-size: 445%;
  }
  .subtitle {
    top: 158px;
    font-size: 130%;
  }
  .titlevid {
    font-size: 20px;
  }
  .titleallvid {
    margin-right: 0;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .subtitlevid {
    font-size: 16px;
  }
  .big {
    width: 34.8%;
  }
  .waiting {
    width: 32.4%;
  }
  .col-md-1 {
    width: 13%;
  }
  .titregig {
    font-size: 20px;
  }
  .contenugig {
    padding-top: 12px;
    padding-bottom: 10px;
  }
  .month {
    font-size: 15px;
  }
  .number, .numberoct {
    font-size: 21px;
  }
  .city, .scene {
    font-size: 17px;
  }
  .view {
    margin-top: 5px;
    margin-bottom: 65px;
  }
  .view a:link {
    font-size: 12px;
  }
  .titleob, .titlevol {
    letter-spacing: 1px;
  }
  .titleob, .titlevol, .subtitlerp {
    font-size: 17px;
  }
  .marg-query {
    padding-left: 12px;
  }
  .subdate {
    margin-bottom: 27px;
    font-size: 12px;
  }
  .messageob {
    margin-right: 17px;
    font-size: 17px;
  }
  .contenentrs {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  .icon-rs {
    left: 330px;
    margin-right: 24px;
    font-size: 20px;
  }
  .titlefooter {
    font-size: 12px;
    margin-top: 45px;
  }
  .contenentob {
    padding-bottom: 70px;
  }
  .content-article {
    padding-top: 135px;
    padding-bottom: 135px;
  }
  .title-article {
    font-size: 32px;
  }
  .articles, .articles:hover, .articles:visited {
    font-size: 27px;
  }
}
/*----#screen_1280----*/
@media (min-width: 1027px) and (max-width:1281px) {
  .menus {
    margin-top: 75px;
    margin-left: 330px;
  }
  .navbar-nav li a {
    margin-left: 6px;
    font-size: 12px;
  }
  .title {
    top: 158px;
    font-size: 445%;
  }
  .subtitle {
    top: 158px;
    font-size: 130%;
  }
  .titlevid {
    font-size: 20px;
  }
  .titleallvid {
    margin-right: 0;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .subtitlevid {
    font-size: 16px;
  }
  .big {
    width: 34.8%;
  }
  .waiting {
    width: 32.4%;
  }
  .col-md-1 {
    width: 13%;
  }
  .titregig {
    font-size: 20px;
  }
  .contenugig {
    padding-top: 12px;
    padding-bottom: 10px;
  }
  .month {
    font-size: 15px;
  }
  .number, .numberoct {
    font-size: 21px;
  }
  .city, .scene {
    font-size: 17px;
  }
  .view {
    margin-top: 5px;
    margin-bottom: 65px;
  }
  .view a:link {
    font-size: 12px;
  }
  .titleob, .titlevol {
    letter-spacing: 1px;
  }
  .titleob, .titlevol, .subtitlerp {
    font-size: 17px;
  }
  .marg-query {
    padding-left: 12px;
  }
  .subdate {
    margin-bottom: 27px;
    font-size: 12px;
  }
  .messageob {
    margin-right: 17px;
    font-size: 17px;
  }
  .contenentrs {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  .icon-rs {
    left: 330px;
    margin-right: 24px;
    font-size: 20px;
  }
  .titlefooter {
    font-size: 12px;
    margin-top: 45px;
  }
  .contenentob {
    padding-bottom: 70px;
  }
  .content-article {
    padding-top: 135px;
    padding-bottom: 135px;
  }
  .title-article {
    font-size: 32px;
  }
  .articles, .articles:hover, .articles:visited {
    font-size: 27px;
  }
}
